<template>
	<span class="icon">
		<font-awesome-icon
			:icon="faIcon"
			v-bind="$attrs"
			class="fas" />
	</span>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

// Whatever prefix this project uses by default
const DEFAULT_PREFIX = 'td';

export default {
	// Td simply stands for ThisDemo. It's recommended to pick a prefix that you can identify in your project.
	// The allows you to tell your widgets apart from 3rd part ones at a glance.
	name: 'TdIcon',
	components: { FontAwesomeIcon },
	props: {
		icon: { type: [String, Array, Object], required: true },
	},
	computed: {
		// Swap out the default "fas" prefix of Font Awesome with an own one. Otherwise just let the property through.
		faIcon() {
			return typeof this.icon === 'string' ?
				[DEFAULT_PREFIX, this.icon] :
				this.icon;
		},
	},
};
</script>
