<template>
	<b-modal
		:width="640"
		:active="active"
		v-bind="$attrs"
		scroll="keep"
		role="dialog"
		v-on="$listeners">
		<!-- Traps focus, making the modal more accessible. See project: vue-focus-lock -->
		<vue-focus-lock>
			<div class="modal-card">
				<header class="modal-card-head">
					<slot name="head">
						<div class="modal-card-title">
							<slot name="title" />
						</div>
					</slot>
				</header>

				<div class="modal-card-body">
					<slot />
				</div>

				<footer class="modal-card-foot is-right-aligned">
					<slot name="foot" />
				</footer>
			</div>
		</vue-focus-lock>
	</b-modal>
</template>

<script>
export default {
	name: 'TdModalCard',
	props: {
		active: { type: Boolean, default: false },
	},
	data: () => ({ originalFocusedElement: null }),
	watch: {
		// For accessibility reasons it's recommended to return focus to where it was before the modal got triggered
		async active(value) {
			if (value) {
				this.originalFocusedElement = document.activeElement;
			}
			else if (this.originalFocusedElement) {
				// First make sure the dust settles on the DOM as the modal disappears
				await this.$nextTick();
				// The focus() won't work properly otherwise
				this.originalFocusedElement.focus();
			}
		},
	},
};
</script>

<style lang="scss" scoped>
// WATCH OUT! Every rule imported inside a <style scoped> tag will get prefixed with a hash and duplicated in the final CSS.
// Importing the entire Bulma theme into every scoped Vue component is a sure way to end up with a HUGE CSS.
//
// @import "some-theme/many-rules"; <- Don't do this
//
// Importing constants, mixins, and functions are still fine. They get inlined, but won't otherwise bloat your CSS.
//
// @import "some-theme/only-constants-mixins-functions"; <- This is fine
.is-right-aligned {
	justify-content: flex-end;
}
</style>
