<template>
	<div class="page container">
		<header class="header section">
			<h1 class="title">{{ title }}</h1>
			<button ref="langToggle" class="button is-small is-dark" @click="toggleLanguage">Toggle locale</button>
		</header>

		<main class="main section">
			<router-view />
		</main>

		<footer class="footer section">
			The client code is aware that it's being served from the <strong>{{ publicPath }}</strong> public path.<br>
			This path is only set in a single place: <strong>package.json -> config.default_public_path</strong>
		</footer>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
	data: () => ({
		lastFocus: null,
		publicPath: process.env.PUBLIC_PATH,
	}),
	computed: {
		...mapState(['counter', 'reviews']),
		title() { return this.$t('title'); },
		lang() { return this.$i18n.locale; },
	},
	watch: {
		title(value) {
			document.title = value;
		},
		lang(value) {
			document.querySelector('html').setAttribute('lang', value);
		},
	},
	mounted() {
		document.title = this.title;
		document.querySelector('html').setAttribute('lang', this.lang);
		return this.loadReviews();
	},
	methods: {
		...mapActions(['loadReviews']),
		toggleLanguage() {
			this.$i18n.locale = this.$i18n.locale === 'en' ? 'hu' : 'en';
		},
	},
};
</script>

<style lang="scss" scoped>
.page {
	display: grid;
	grid-template:
		"header" auto
		"main" 1fr
		"footer" auto
		/ 1fr;
	height: 100vh;

	.header {
		grid-area: header;
		justify-self: center;
		text-align: center;
	}
	.main {
		grid-area: main;
		justify-self: center;
	}
	.footer {
		grid-area: footer;
		justify-self: center;
	}
}
</style>
