<template>
	<div>
		<h2 class="title is-2">{{ $tc('reviews', reviews.length) }}</h2>
		{{ reviews }}
	</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
	computed: {
		...mapState(['reviews']),
	},
};
</script>
