<template>
	<div>
		<button ref="theButton" class="button is-primary" @click="incrementCounter">
			<span>Now with Bulma</span>
		</button>
		<the-message ref="theMessage" />
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import TheMessage from 'src/components/the-message';

export default {
	components: { TheMessage },
	data: () => ({
		lastFocus: null,
		publicPath: process.env.PUBLIC_PATH,
	}),
	computed: {
		...mapState(['counter']),
	},
	methods: {
		...mapActions(['incrementCounter']),
	},
};
</script>
