<template>
	<td-modal-card :active="!!message" @close="dismissMessage">
		<template slot="title">Hey</template>

		<div ref="modalMessage">{{ message }}</div>

		<button slot="foot" class="button is-primary" @click="dismissMessage">Noted</button>
		<button
			slot="foot"
			ref="showJoke"
			class="button"
			@click="loadJoke">
			Show a joke instead
		</button>
	</td-modal-card>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
	computed: {
		...mapState(['message']),
	},
	methods: {
		...mapActions(['dismissMessage', 'loadJoke']),
	},
};
</script>
